/*------------------------------------*/

/* Primary color = #e6e6fa */

/* Secondary Color = #916d8a */

/* Accent Color = #0d6efd */

/* Company Name color = #f4a460 */

/* Products Name color = #f0e68c */

/* Hover Effect color with #7e506c with this background color = #916d8a */

/* Dark Theme gradient bg-linear-to-br dark:from-slate-900 dark:via-purple-900 dark:to-slate-800 */

/* Light Theme gradient bg-linear-to-br from-[#e6e6fa] via-[#f0dff5] to-[#f5c8e6] */

/*------------------------------------*/

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

/*------------------------------------*/

@layer utilities {
  body {
    cursor: url("/assets/cursor.png"), auto; /* fallback: auto */
  }

  .pointer {
    cursor: url("/assets/pointer.png"), pointer; /* fallback: pointer */
  }

  .perspective-1200 {
    perspective: 1200px;
  }
}

/*------------------------------------*/ 