/*------------------------------------*/

/* Primary color = #e6e6fa */

/* Secondary Color = #916d8a */

/* Accent Color = #0d6efd */

/* Company Name color = #f4a460 */

/* Products Name color = #f0e68c */

/* Hover Effect color with #7e506c with this background color = #916d8a */

/*------------------------------------*/

@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));