/* Animation Only */
.blob {
  animation: blob 8s infinite ease-in-out;
}

.blob2 {
  animation-delay: 2s;
}

.blob3 {
  animation-delay: 4s;
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(20px, -30px) scale(1.05);
  }
  66% {
    transform: translate(-15px, 20px) scale(0.95);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

/* Wiggle Animation */

@keyframes wiggle {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-6px);
  }
}
.wiggle {
  animation: wiggle 1.8s infinite ease-in-out;
}
.delay2000 {
  animation-delay: 2s;
}
.delay4000 {
  animation-delay: 4s;
}

.dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 9999px;
  display: inline-block;
}
