/* Animation Only */
.blob {
  animation: blob 8s infinite ease-in-out;
}

.blob2 {
  animation-delay: 2s;
}

.blob3 {
  animation-delay: 4s;
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(20px, -30px) scale(1.05);
  }
  66% {
    transform: translate(-15px, 20px) scale(0.95);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}
